<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css" />
<script type="module" src="/js/form-check.js"></script>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <form class="product-form">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= editing ? product.title: '' %>" />
      </div>
      <div class="form-control">
        <label for="imageUrl">Image</label>
        <input type="text" name="imageUrl" id="imageUrl" value="<%= editing ? product.imageUrl: 'https://plus.unsplash.com/premium_photo-1681825268400-c561bd47d586?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' %>" />
      </div>
      <div class=" form-control">
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5"><%= editing ? product.description: '' %></textarea>
      </div>
      <div class=" form-control">
        <label for="price">Price</label>
        <input type="number" name="price" id="price" step="0.01" value="<%= editing ? product.price: '' %>" />
      </div>
      <% if(editing) { %>
      <input type="hidden" name="productId" value="<%= product.id %>">
      <% } %>

      <button type="submit" class="btn" disabled><%= editing?'Update':'Add' %> Product</button>
    </form>
  </main>
  <%- include('../includes/end.ejs') %>