<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main class="centered">
    <h1>Cart</h1>
    <hr>
    <table>
      <thead>
        <tr>
          <td>Price</td>
          <td>Quantity</td>
          <td>Total Price</td>
        </tr>
      </thead>
      <% for (let cartProduct of cart.products) { %>
      <tr>
        <td><%=  %></td>
        <td><%= cartProduct.quantity %></td>
        <td><%=  %></td>
      </tr>
      <% } %>
      <tr>
        <td></td>
        <td></td>
        <td><%= Number(cart.totalPrice).toFixed(2) %></td>
      </tr>
    </table>
  </main>
  <%- include('../includes/end.ejs') %>